.error_body {
     background:url(../../img/error_page_background.gif) repeat;
     height: 92%;
}

html { height: 97%; }

.header {
     background:url(../../img/header_1280.gif) 100% no-repeat;
     height:80px;
     background-origin: border;

}

.logo {
   background:url(../../img/logo_1280.gif) no-repeat;
   width:241px;
   height:80px;
}

.header_bg {
    background-image:url(../../img/background_bg_1280.gif);
}

.body {
    margin: 0 auto;
    vertical-align: middle;
    height: 90%;
    border-top:0;
    border-bottom:0;
    background-image:url(../../img/body_background.gif);
}

.top_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
    font-size:115%;
}

.top_row {
    padding-top:35px;
}

.er500_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
    font-size:990%;
    margin: -15px 0 0 -10px;
    padding: 0;
}

.error_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #cccccc;
    font-size:50%;
    vertical-align:60%;
}

.main_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #464646;
    font-size:105%;
}

.error_code_block {
    display:table-cell;
    vertical-align:top;
}

.link_text {
    color: #000000;
    padding-top:35px;
    font-size:80%;
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
}

.credits_block {
   padding-top:70px;
   font-size:75%;
   font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
   color: #666666;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}
