table.lim {

    border: 1px solid black;

}

table.models {
    border: 1px solid black;

    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;

}

TD.silver {
    border: 1px solid silver;
}

TD.silver_r {
    border: 1px solid silver;
    border-right: 1px solid black;
}

TD.silver_rb {
    border: 1px solid silver;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

TD.silver_b {
    border: 1px solid silver;

    border-bottom: 1px solid black;
}

.row0 {
    background-color: #fff;
}

.row1 {
     background-color: #ddd;
}

.row2 {
    background-color: #ddd;
}

.row3 {
    background-color: #ddd;
}

.row4 {
    background-color: #99f;
}

.row5 {
    background-color: #99f;
}

#parent {
    margin: 10px;
    height: 639px;
}

#head {
/*position: absolute;*/
    width: 750px;
    margin: 10px; /*top: 20px;*/
/*left: 20px;*/
}

#model {
/*position: absolute;*/
    width: 700px;
    margin: 10px; /*top: 50px;*/
/*left: 50px;*/
}

#ispolnenie {

/*position: absolute;*/
    width: 90px; /*top: 250px;*/
/*left: 20px;*/
}

#materials {

/*position: absolute;*/
    width: 80px; /*top: 250px;*/
/*left: 130px;*/
}

#klimat {
/*position: absolute;*/
    width: 200px; /*top: 250px;*/
/*left: 240px;*/
}

#errors {

/*position: absolute;*/
    width: 90px; /*top: 250px;*/
/*left: 460px;*/
}

#ed_izm {

/*position: absolute;*/
    width: 150px; /*top: 250px;*/
/*left: 570px;*/
}

#stat {
/*position: absolute;*/
    width: 90px; /*top: 250px;*/
/*left: 700px;*/
}

#otput {
/*position: absolute;*/
    width: 90px;
    height: 200px; /*top: 250px;*/
/*left: 820px;*/
}

#du {
/*position: absolute;*/
    width: 80px; /*top: 250px;*/
/*left: 930px;*/

}

#limits {
/*position: absolute;*/
    width: 290px; /*top: 525px;*/
/*left: 50px;*/

}

#options {
/*position: absolute;*/
    width: 390px; /*top: 525px;*/
/*left: 350px;*/

}

#right {
/*position: absolute;*/
    width: 280px; /*top: 525px;*/
/*left: 730px;*/

}

#downButtons {


    margin: 10px; /*vertical-align:bottom;*/

}

.topAlig {
    vertical-align: top;
}

.opt {
    width: 350px;
    border: 1px solid black;

}

.lim {
    border-color: black;
    width: 200px;

}

td.width60 {

    border: 1px solid silver;
    text-align: center; /*border-color: black;*/
}

td.col3 {

    border: 1px solid silver;
    text-align: center;
    width: 70px; /*border-color: black;*/
}