<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Entidades mapeadas -->
		<mapping class="br.com.javacoder.contact.model.ContactBr" />
		<mapping class="ua.com.manometr.model.User" />
		<mapping class="ua.com.manometr.model.Supplier" />
		<mapping class="ua.com.manometr.model.Profession" />
		<mapping class="ua.com.manometr.model.Contact" />
		<mapping class="ua.com.manometr.model.Currency" />
		<mapping class="ua.com.manometr.model.Customer" />
		<mapping class="ua.com.manometr.model.OrgForm" />


	</session-factory>
</hibernate-configuration>