.alLeft {
    text-align: left;
}

.width20 {
    width: 20px;
}

.width25 {
    width: 25px;

}

.width32 {
    width: 32px;
}

.width40 {
    width: 50px;
}

.width50 {
    width: 50px;
}

.width60 {
    width: 60px;
}

.width70 {
    width: 70px;
}

.width80 {
    width: 80px;
}

.width90 {
    width: 90px;
}

.width100 {
    width: 100px;
}

.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.width180 {
    width: 180px;
}

.width600 {
    width: 200px;
}

.width230 {
    width: 230px;
}

.width415 {
    width: 415px;

}.width520 {
    width: 520px;

}

.width550 {
    width: 550px;

}

.date {
    width: 70px;
    border: 0px;
}

.dateInput {
    width: 120px;
    margin-right: 5px;
}



#contentTD {
    /*height: 100%;*/
    background-color: #ddc;

}



#topDiv {
    margin: 10px; /*height: 639px;*/
    width: 1058px;
}




#downButtons {

/*position: absolute; *//*margin-top: 5px; *//**//*margin-right: auto;*/
/*width: 1000px; *//*padding: 10px;*/
    height: 24px; /*background: #ccc;*/
    margin: 5px 10px 5px 10px; /*top: 650px;*/
/*left: 20px;*/
/*border: none; */
    /*background-color: burlywood;*/
}

#variableHeightElement {
    /*background-color: burlywood;*/
    overflow-y: auto;
}

.butt {
    display: inline;
    width: 110px;

}

.toptable {
    border-collapse: collapse;
    width: 100%;
}

.toptable tr, .toptable  td {
    /*border: 1px solid black;*/

}

.selectOnHover:hover {
    background-color: #ccc;
    /*background-color: red;*/
}

table.invItemsTab {
    border: 1px solid #666666; /*width:100%;*/
    text-align: center;
    border-collapse: collapse;

}

table.invItemsTab    th {
/*position: fixed;*/
    background-color: #999999;
}

/*table.invItemsTab    thead {*/
/*position: fixed;*/
/*left: 100px;*/
/*top: -10px;*/
/*margin-top:-25px;*/
/*margin-left:-1px;*/

/*}*/

table.invItemsTab   td, th {
/*border: 1px solid #800;  Параметры границы*/
    border-left: 1px solid #666666;
    border-right: 1px solid #666666; /*border-top: 2px solid #555;*/
    border-bottom: 2px solid #555; /*padding: 4px; *//* Поля в ячейках */
    background-color:#fff;
}

.topAlign {
    vertical-align: top;
}

.width100P {
    width: 100%; /*//  vertical-align: top;*/
}

.inp {
    width: 80%;
    border: 0px;
    text-align: right;
}


#invItemsContent {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.error {
    border-color: #ff9999;
    border-width: 2px;
}