.dataColumn{
    width: 75px;
}

.tabdiv
{
    height: 260px;
    overflow-y: auto;
}

.right{
    text-align: right;
}

.left{
     text-align: left;
 }

.currencyWrapper{

}


tr.blue > td.currency{
    background-color: #4682b4;
}
tr.green > td.currency{
    background-color: #2e8b57;
}
tr.red > td.currency{
    background-color: #FF6851;
}


