<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Entidades mapeadas -->
		<mapping class="ua.com.manometer.model.User" />
		<mapping class="ua.com.manometer.model.Supplier" />
		<mapping class="ua.com.manometer.model.Profession" />
		<mapping class="ua.com.manometer.model.Contact" />
		<mapping class="ua.com.manometer.model.Currency" />
		<mapping class="ua.com.manometer.model.Customer" />
		<mapping class="ua.com.manometer.model.OrgForm" />

		<mapping class="ua.com.manometer.model.address.Region" />
		<mapping class="ua.com.manometer.model.address.Area" />
		<mapping class="ua.com.manometer.model.address.City" />
		<mapping class="ua.com.manometer.model.address.Country" />
<!---->
        <mapping class="ua.com.manometer.model.invoice.InvoiceFilter" />
        <!--<property name="packagesToScan" />-->



	</session-factory>
</hibernate-configuration>