<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Entidades mapeadas -->
		<mapping class="ua.com.manometer.model.User" />
		<mapping class="ua.com.manometer.model.Supplier" />
		<mapping class="ua.com.manometer.model.Profession" />
		<mapping class="ua.com.manometer.model.Contact" />
		<mapping class="ua.com.manometer.model.Currency" />
		<mapping class="ua.com.manometer.model.Customer" />
		<mapping class="ua.com.manometer.model.OrgForm" />

		<mapping class="ua.com.manometer.model.address.Region" />
		<mapping class="ua.com.manometer.model.address.Area" />
		<mapping class="ua.com.manometer.model.address.City" />
		<mapping class="ua.com.manometer.model.address.Country" />
<!---->
        <mapping class="ua.com.manometer.model.invoice.InvoiceFilter" />
        <mapping class="ua.com.manometer.model.invoice.Invoice" />
        <mapping class="ua.com.manometer.model.invoice.Booking" />
        <mapping class="ua.com.manometer.model.invoice.Shipment" />
        <mapping class="ua.com.manometer.model.invoice.InvoiceItem" />
        <mapping class="ua.com.manometer.model.invoice.Payment" />
        <mapping class="ua.com.manometer.model.invoice.PressureSensor" />
        <mapping class="ua.com.manometer.model.invoice.Production" />
        <mapping class="ua.com.manometer.model.invoice.ShipmentMediator" />

        <mapping class="ua.com.manometer.model.modeldescription.ModelDescription" />

        <mapping class="ua.com.manometer.model.price.OptionsPrice" />
        <mapping class="ua.com.manometer.model.price.PriceFirstPart" />
        <mapping class="ua.com.manometer.model.price.ProductionPrice" />





        <!--<property name="packagesToScan" />-->

         <!--<event type="save-update">-->
             <!--<listener class="ua.com.manometer.util.SaveOrUpdateListener"></listener>-->
         <!--</event>-->

	</session-factory>
</hibernate-configuration>