<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

    <session-factory>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">update</property>


        <property name="connection.pool_size">1</property>
        <property name="connection.url">jdbc:mysql://localhost/proj4?autoReconnect=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">2405</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.autocommit">true</property>

        <property name="hibernate.c3p0.acquire_increment">3</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.timeout">25200</property>
        <property name="hibernate.c3p0.max_size">15</property>
        <property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>


        <mapping class="com.avrora.GUI.ChannelState"/>



    </session-factory>

</hibernate-configuration>