






TD.width60 {
	width: 4%;
}

TD.width140 {
	width: 10%;
}

TD.col3 {
	width: 10%;
}

TD.col4 {
	width: 8%;
}

TD.col5 {
	width: 10%;
}

TD.col6 {
	width: 10%;
}

TD.col7 {
	width: 10%;
}

TD.col8 {
	width: 8%;
}

TD.col9 {
	width: 10%;
}

TD.col10 {
	width: 9%;
}

TD.col11 {
	width: 24%;
}

TD.col12 {
	width: 2%;
}

TD.bool {
width: 20px;
text-align: center;
}

TD.bool2 {
width: 35px;
text-align: center;

}


TD.grup {
width: 12%;
}
TD.other {

}



