.error_body {
     background:url(../../img/error_page_background.gif) repeat;
     height: 92%;
}

html { height: 97%; }

.header {
     background:url(../../img/header_right.gif) 100% no-repeat;
     height:119px;
}

.logo {
   background:url(../../img/logo.gif) no-repeat;
   width:358px;
   height:119px;
}

.header_bg {
    background-image:url(../../img/background_bg.gif);
}


.top_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
    font-size:200%;
}

.top_row {
    padding-top:93px;
}

.er500_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
    font-size:1500%;
    margin: 0 0 0 -25px;
    padding: 0;
}

.error_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #cccccc;
    padding-top:15px;
    vertical-align:60%;
}

.body {
    border-width: 0;

    margin: 0 auto;
    vertical-align: middle;
    height: 90%;
    background-image:url(../../img/body_background.gif);
}

.main_text {
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
	color: #464646;
    font-size:150%;
}

.error_code_block {
    display:table-cell;
    vertical-align:top;
}

.link_text {
    color: #000000;
    padding-top:35px;
    font-size:120%;
    font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
}

.credits_block {
   padding-top:150px;
   font-size:90%;
   font-family: ZurichBT, Verdana, Arial, Helvetica, sans-serif;
   color: #666666;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}