<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

    <session-factory>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">update</property>


        <property name="connection.datasource">java:/comp/env/jdbc/hibernate</property>

        <property name="current_session_context_class">thread</property>
        <!--<property name="myeclipse.connection.profile">MySQL</property>-->

        <!--<property name="connection.url">jdbc:mysql://localhost/hibernate?autoReconnect=true</property>-->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">2405</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="hibernate.connection.isolation">8</property>-->


        <mapping class="application.data.User"/>
        <mapping class="application.data.Customer"/>


        <mapping class="application.data.address.City"/>
        <mapping class="application.data.address.Area"/>
        <mapping class="application.data.address.Country"/>
        <mapping class="application.data.address.Region"/>
        <mapping class="application.data.OrgForm"/>
        <mapping class="application.data.Contact"/>
        <mapping class="application.data.Profession"/>
        <mapping class="application.data.ModelDescription.ModelDescription"/>

        <mapping class="application.data.price.PriceFirstPart"/>
        <mapping class="application.data.price.ProductionPrice"/>
        <mapping class="application.data.price.OptionsPrice"/>
        <mapping class="application.data.Supplier"/>
        <mapping class="application.data.SupTest"/>

        <mapping class="application.data.invoice.Invoice"/>
        <mapping class="application.data.invoice.Booking"/>

        <mapping class="application.data.invoice.InvoiceItem"/>
        <mapping class="application.data.invoice.PressureSensor"/>
        <mapping class="application.data.invoice.Production"/>
        <mapping class="application.data.Currency"/>
        <mapping class="application.data.invoice.InvoiceFilter"/>
        <mapping class="application.data.invoice.Shipment"/>
        <mapping class="application.data.invoice.ShipmentMediator"/>
        <mapping class="application.data.invoice.Payment"/>


    </session-factory>

</hibernate-configuration>